body {
    /*background-color: red;
    padding: 10px  20px;*/
    font: 14px 'Open sans', sans-serif;
    /*color: gray;*/
    background-image: url("./__IMG/machine.gif");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin-left: auto;
    margin-top: auto;
    display: block;
}
