body {
    /*background-color: red;
    padding: 10px  20px;*/
    font: 14px 'Open sans', sans-serif;
    /*color: gray;*/
    background-image: url("./__IMG/machine.gif");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin-left: auto;
    margin-top: auto;
    display: block;
}
h1 {
    margin: 0;
    margin-bottom: 30px;
	   font-size: 30px;
}
form {
    padding: 40px;
    background: #DDD;
    border: 4px solid #AAA;
    width: 360px;
    margin: 30px auto;
}
input {

	font: 14px 'Open Sans', sans-serif;
    border: 2px solid #ccc;
    padding: 6px;
    display: block;
	margin-bottom: 20px;
    width: 96%;
}
button {
    font: 14px 'Open Sans', sans-serif;
    background-color: grey;
    color: Black;
    padding: 10px  20px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
  	text-transform: uppercase;
}

#disegnobg{
  /*background-color: red;*/
}
#tradmin{
  /*background-color: white;*/
}
#page{
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#insert{

}
